<!DOCTYPE html>

<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div id="title">
    <h1 class="outTitle">Tokimon</h1>
    <div>
      <h1 class="innerTitle">Tokimon</h1>
    </div>
  </div>

  <div id="contentDiv">
    <div id="outerTokidex">
      <div id="innerTokidex">
        <div id="displayContent">

        </div>
        <div id="buttonNav">
          <h2 id="tokidexOut">Tokidex</h2>
          <div>
            <h2 id="tokidexIn">Tokidex</h2>
          </div>
          <a href="/display"><button>Display All Tokimon</button></a>
          <a href="/new"><button>Add New Tokimon</button></a>
          <a href="/edit"><button>Edit a Tokimon</button></a>
          <a href="/delete"><button>Delete a Tokimon</button></a>
        </div>
      </div>
    </div>
  </div>
  <script>
    if(<%=success%> == 1){
        alert("SUCCESS: The Tokimon was successfully edited")
    }
    else if(<%=success%> == 2){
        alert("SUCCESS: The Tokimon was successfully deleted")
    }
    else if (<%= success %> == 3) {
            alert("SUCCESS: Your  entry into the Tokidex is complete!")
    }
    </script>
</body>

</html>